@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "RedFive";
  src: url("/fonts/REDFIVE_.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
